.efooter { 
	background-color:rgba(251.81250303983688, 253.7781223654747, 255, 1);
	width:1920px;
	height:430px;
	position:absolute;
}
.eifooter_2_1595 { 
	/* width:1280px;
	*/
	position:absolute;
    height:162px; 
    
	/*left:3%;left:10%;
	top:96px; */
}
.eifooter_2_1596 { 
	
	height:140px;
	position:absolute;
	/*width:1280px; left:0px;
	top:0px; */
}
.eifooter_2_1600 { 
	width:407px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1601 { 
	width:188px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1601_2_4765 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:188px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
	line-height:px;
}
.eifooter_2_1601_2_4766 { 
	width:188px;
	height:104px;
	position:absolute;
	left:0px;
	top:36px;
}
.eifooter_2_1601_2_4767 { 
	width:31px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1601_2_4767_2_4762 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:31px;
	height:24px;
	/* position:absolute; */
	/* left:0px;
	top:0px; */
	font-family:'Inter';
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.eifooter_2_1601_2_4768 { 
	width:82px;
	height:24px;
	position:absolute;
	left:0px;
	top:40px;
}
.eifooter_2_1601_2_4768_2_4762 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:82px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.eifooter_2_1601_2_4769 { 
	width:60px;
	height:24px;
	position:absolute;
	left:0px;
	top:80px;
}
.eifooter_2_1601_2_4769_2_4762 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.eifooter_2_1603 { 
	width:187px;
	height:140px;
	position:absolute;
	left:220px;
	top:0px;
}
.eifooter_2_1603_2_4765 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:187px;
	height:20px;
	/* position:absolute;
	left:0px;
	top:0px; */
	font-family:'Inter';
	text-align:left;
	font-size:14px;
	letter-spacing:5;
	line-height:px;
}
.eifooter_2_1603_2_4766 { 
	width:187px;
	height:104px;
	position:absolute;
	left:0px;
	top:36px;
}
.eifooter_2_1603_2_4767 { 
	width:105px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1603_2_4767_2_4762 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	/* width:105px;
	height:24px; */
	/*position:absolute;
	 left:0px;
	top:0px; */
	font-family:'Inter';
	text-align:left;
	font-size:16px;
	/* letter-spacing:0;
	line-height:px; */
}
.eifooter_2_1603_2_4768 { 
	width:126px;
	height:24px;
	position:absolute;
	left:0px;
	top:40px;
}
.eifooter_2_1603_2_4768_2_4762 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:126px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.eifooter_2_1603_2_4776 { 
	width:61px;
	height:24px;
	position:absolute;
	left:0px;
	top:80px;
}
.eifooter_2_1603_2_4776_2_4762 { 
	color:rgba(137.18999683856964, 142.23899871110916, 148.4100043773651, 1);
	width:61px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.eifooter_2_1599 { 
	width:120px;
	height:24px;
	position:absolute;
	left:1160px;
	top:0px;
}
.eifooter_2_1599_2_4807 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1599_2_4807_2_4804 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1599_2_4807_2_4804_2_4790 { 
	background-color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:20px;
	height:16.25339698791504px;
	position:absolute;
	left:2px;
	top:4px;
}
.eifooter_2_1599_2_4808 { 
	width:24px;
	height:24px;
	position:absolute;
	left:48px;
	top:0px;
}
.eifooter_2_1599_2_4808_2_4804 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1599_2_4808_2_4804_2_4792 { 
	background-color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:20px;
	height:19.538433074951172px;
	position:absolute;
	left:2px;
	top:2px;
}
.eifooter_2_1599_2_4809 { 
	width:24px;
	height:24px;
	position:absolute;
	left:96px;
	top:0px;
}
.eifooter_2_1599_2_4809_2_4804 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_2_1599_2_4809_2_4804_2_4796 { 
	width:20px;
	height:15.244400978088379px;
	position:absolute;
	left:2px;
	top:4px;
}
.eifooter_2_1599_2_4809_2_4804_2_4797 { 
	background-color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:20px;
	height:15.244400978088379px;
	position:absolute;
	left:0px;
	top:0px;
}
.eifooter_91_22330 { 
	width:439px;
	height:37px;
	position:absolute;
	left:740.5px;
	top:268px;
}
.eifooter_2_1597 { 
	width:120px;
	height:32px;
	position:absolute;
	left:0px;
	top:2.5px;
}
.eifooter_2_1598 { 
	width:105px;
	height:46px;
	position:absolute;
	left:0px;
	top:-7.5px;
}
.eifooter_2_1598_452_19695 { 
	color:rgba(13.000000175088644, 19.0000007674098, 23.000000528991222, 1);
	/* width:105px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px; */
	font-family:'Inter';
	text-align:center;
	font-size:36px;
	letter-spacing:0;
}
.eifooter_2_1604 { 
	width:309px;
	height:10px;
	position:absolute;
	left:130px;
	top:13.5px;
}
.eifooter_2_1605 { 
	color:rgba(95.88000431656837, 102.40800082683563, 108.11999872326851, 1);
	width:298px;
	height:24px;
	position:absolute;
	/* left:5.5px;
	top:-7px; */
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
	line-height:px;
}
/****************************************************/
